<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Hotjar Tracking Code for https://samplesegmentation.theaudiobee.com/ -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 1763253, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script src="local_modules/wavesurfer.js/dist/wavesurfer.js"></script>
  <script src="local_modules/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
  <script src="local_modules/wavesurfer.js/dist/plugin/wavesurfer.regions.js"></script>
  <script src="public/js/resize.js"></script>
  <script src="public/js/create-div.js"></script>
  <script src="public/js/create-top-speaker-div.js"></script>
  <script src="public/js/repeat-region.js"></script>
  <script src="public/js/loadingScreen.js"></script>

  {{!-- Common Scripts --}}
  <script src="public/js/common/keyDownEvents.js"></script>
  <script src="public/js/common/canvasDrawing.js"></script>
  <script src="public/js/common/commonFunctions.js"></script>
  <script src="public/js/common/transperfectCommonFunctions.js"></script>   
  <script src="public/js/common/onClickOnChangeEvents.js"></script>    

  
  <style>
    
    #errorMenu {
      position: absolute;
      width: 300px;
      /*right: 0px;*/
      padding: 25px;
      top: -15px;

      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }

    #top-div-for-scrolling-enabling {
      width: 50vw;
      height: 30vh;
      position: absolute;
      z-index: 1;
      left: 0px;
      top: 150px;
    }


    #transcripted_text_paragraph {
      display: none;
      position: relative;
      width: 320px;
      height: 150px;
      border: 1px solid;
      overflow: auto;
      margin: 10px;
      border-radius: 15px;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
    }

    #transcripted_text_paragraph:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 2px solid black;
      transform: translate(-50%);
    }    

    #already-submitted-dialouge-box {
      background-color: white;
      box-shadow: 0 0 12px black;
      text-align: center;
      font-size: 18px;
      clear: both;
      color: #333;
      margin: 0 auto;
      padding: 2em;
      position: absolute;
      width: 20vw;
      height: 10vh;
      z-index: 10000;
      top: 20vh;
      left: 40vw;
      display: none;
    }

    #display-training-segments {
      display: none;
    }
  </style>
</head>

<body>
  <div id="header">
    {{>header}}
  </div>

  {{>body}}

  <script>
    var user_id;
    var audio_id;
    audio_id = {{ audio_id }};
    user_id = {{ user_id }};
    var VENDOR_WEBSITE;
    VENDOR_WEBSITE = {{ isVendorWebsite }};    
  </script>
  {{!-- Amplitude --}}
  <script type="text/javascript">
    (function (e, t) {
      var n = e.amplitude || {
        _q: [],
        _iq: {}
      };
      var r = t.createElement("script");
      r.type = "text/javascript";
      r.integrity =
        "sha384-RsEu4WZflrqYcEacpfoGSib3qaSvdYwT4D+DrWqeBuDarSzjwUQR1jO8gDiXZd0E";
      r.crossOrigin = "anonymous";
      r.async = true;
      r.src = "https://cdn.amplitude.com/libs/amplitude-6.2.0-min.gz.js";
      r.onload = function () {
        if (!e.amplitude.runQueuedFunctions) {
          //console.log("[Amplitude] Error: could not load SDK");
        }
      };
      var i = t.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(r, i);


      function s(e, t) {
        e.prototype[t] = function () {
          this._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
          return this;
        };
      }
      var o = function () {
        this._q = [];
        return this;
      };
      var a = [
        "add",
        "append",
        "clearAll",
        "prepend",
        "set",
        "setOnce",
        "unset",
      ];
      for (var u = 0; u < a.length; u++) {
        s(o, a[u]);
      }
      n.Identify = o;
      var c = function () {
        this._q = [];
        return this;
      };
      var l = [
        "setProductId",
        "setQuantity",
        "setPrice",
        "setRevenueType",
        "setEventProperties",
      ];
      for (var p = 0; p < l.length; p++) {
        s(c, l[p]);
      }
      n.Revenue = c;
      var d = [
        "init",
        "logEvent",
        "logRevenue",
        "setUserId",
        "setUserProperties",
        "setOptOut",
        "setVersionName",
        "setDomain",
        "setDeviceId",
        "enableTracking",
        "setGlobalUserProperties",
        "identify",
        "clearUserProperties",
        "setGroup",
        "logRevenueV2",
        "regenerateDeviceId",
        "groupIdentify",
        "onInit",
        "logEventWithTimestamp",
        "logEventWithGroups",
        "setSessionId",
        "resetSessionId",
      ];

      function v(e) {
        function t(t) {
          e[t] = function () {
            e._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
          };
        }
        for (var n = 0; n < d.length; n++) {
          t(d[n]);
        }
      }
      v(n);
      n.getInstance = function (e) {
        e = (!e || e.length === 0 ? "$default_instance" : e).toLowerCase();
        if (!n._iq.hasOwnProperty(e)) {
          n._iq[e] = {
            _q: []
          };
          v(n._iq[e]);
        }
        return n._iq[e];
      };
      e.amplitude = n;
    })(window, document);
    var reqAPIKey = "{{ amplitude_api_key }}";
    var params = {
      user_id
    }
    $.ajax({
      method: "POST",
      url: "/get-web-app-id",
      data: params,
      success: function (response) {
        amplitude.getInstance().init(reqAPIKey, response[0].web_app_id.toString(), {
          includeReferrer: true,
          includeUtm: true,
          includeGclid: true,
        });
        logEvent("Audio Test Screen Loaded - Trans", {
          type: "Single Audio"
        });
      }
    });
  </script>
  <script>
    function logEvent(ampEventName, ampEventProp) {
      amplitude.getInstance().logEvent(ampEventName, ampEventProp);
    }

    function setUserProp(identifyObj) {
      amplitude.getInstance().Identify(identifyObj);
    }
  </script>

  <script>
    var is_submitted = "FALSE";
    var check_user_status; //RETRY, PASS OR FAIL
    var diffCheckSubmit = false;//Checking diff checker
    var actualResponseLength = 0;//Assigns total response length
    var postsResponseLength = 0;//Assigns total posts length
    var wrongSpeakerScore = 0;
    var wrongAnnotationScore = 0;
    var unnecessarySegmentsErrors = 0;
    var overallScore = 0;//var to assign score
    var scoreInPercentage = 0;
    var rightWordsScore = 0;
    var totalWordCount = 0;
    var passOrFail = ""//var to assign pass or fail
    var reqSpeakers = [];//var to check if speakers are already available  
    var addRegionBool = true;//Bool for adding region only one on click
    var canvasHeight = 0;
    var updateAnnotationOnClick = false;//allow updating annotation box only on click
    var updateAnnotationOnChange = false;//allow updating annotation box only on change
    var updateTopDivSpeakerOnClick = false;//allow updating only on click 
    var updateTopDivSpeaker = false;//checking top div speaker changes
    var updateSegments = true;//update segments only if not new region 
    var dragging = false;//allow dragging
    var temp, y, diff, segmentStart, segmentEnd = 0;
    var pressed = false;
    var segmentId = 1;
    var currentId = "";
    var currentStartTime, currentEndTime = 0;
    var newStartTime, newEndTime = 0;
    var confirmChangesboxBool = false;//boolean true if confirm changes box appears
    var speakerNameCheckBool = true;//true if speaker name is valid
    var hundredMillisecSegmentCheck = true;//true if segment is created above 100 ms
    var segmentEndingTimeMoreThanStartingTime = false;
    var sameSpeakerOverlapping = false;//true if two same speakers overlap each other
    var pixels = 0;
    var correctSegmentCreated = false;
    var getTopClickedId;

    //var TimelinePlugin=window.WaveSurfer.timeline;
    var temp = 0, scrolltop = 0, relativeScroll = 0;
    var buttons = {
      play: document.getElementById("play-button")
    }

    //Creating the audio stream from Wavesurfer 
    var spectrum = WaveSurfer.create({
      container: '#peaks-container',
      waveColor: 'grey',
      progressColor: 'grey',
      minPxPerSec: 96,
      scrollParent: false,
      autoCenter: true,
      backgroundColor: "#fff",
      seekStyle: "line",
      mediaControls: true,
      barWidth: 1,
      barHeight: 0.5,
      height: 316,
      plugins: [
        WaveSurfer.timeline.create({
          container: "#time-line",
          timeInterval: 0.1,
          height: 50,
          notchPercentHeight: 25
        }),
        WaveSurfer.regions.create({})
      ]
    });
    spectrum.zoom(96);

    displayWaveSurferLoading();


    //handle play button
    buttons.play.addEventListener("click", function (event) {
      event.preventDefault();
      playPauseAudio();
      document.getElementById('total-timestamp').innerText = secondsToTimestamp(spectrum.getDuration());
    })

    //function on spectrum is ready 
    spectrum.on("ready", function () {

      totalDuration = spectrum.getDuration();

      //canvas height to set the top speaker annotation div position from left 
      canvasHeight = $("#peaks-container > wave canvas").height();

      //audio wave total height 
      $("#peaks-container").css({
        "width": `calc(${totalDuration} * 96px)`
      })

      $("#plus-button").css({
        "marginTop": `${$("#peaks-container").position().top}px`
      })
      $("#time-line").css({
        "transform": `translate(0px,${$("wave").height() - 10}px)`
      })
      $("#annotation-div-head").css({
        "left": `${canvasHeight}px`
      })
      buttons.play.disabled = false;
      totalDuration = spectrum.getDuration();
      document.getElementById('total-timestamp').innerText = secondsToTimestamp(totalDuration);

      //Changes for top information 
      $("#guide-for-submit-button-appearance").text("Press the SUBMIT button once you finish. The SUBMIT button will only appear after you finish transcribing all the speaker segments.");

      //Key Down Events
      ltTranscriptionKeyEvents(spectrum);
      
      //Making our canvas line visible 
      $("#peaks-container > wave").css({ "overflow": "" });
      
      //Canvas Straight Line    
      canvasStraightLine();       
    });//Function end for on ready spectrum

    //Resize Window on ready
    $(document).ready(function () {
      resizeWindow();
    });
    window.onload = function (e) {
      resizeWindow();
    }
    window.addEventListener("resize", resizeWindow)

    setInterval(updateTimer(), 100);

    //Loading the Audio
    spectrum.load("{{audio_url}}");

    //function for dragging spectrum on mousedown
    window.onload = (function () {
      if (!confirmChangesboxBool) {
        $("#peaks-container,#top-div-for-scrolling-enabling").on("mousedown", function (e) {
          pauseAudio();
          dragging = true;
          temp = y = e.clientY;
        })
        $("#peaks-container,#top-div-for-scrolling-enabling").on("mousemove", function (e) {

          if (dragging == true) {
            y = e.clientY;
            diff = y - temp;
            temp = y;

            var req = (spectrum.getCurrentTime() + (diff * (-1) / 96)) / spectrum.getDuration();

            req < 0 ? req = 0 : req = req;
            req > 1 ? req = 1 : req = req;
            spectrum.seekTo(req);

          }
        })
        $(window).on("mouseup", function (e) {
          dragging = false;
        })
      }
    })//Window.onload function end for mouse events

    //Function on scrolling to seek spectrum  
    document.getElementById("peaks-container").addEventListener("wheel", function (event) {
      if (!confirmChangesboxBool) {
        pauseAudio();
        var req = (spectrum.getCurrentTime() + (event.deltaY / 96)) / spectrum.getDuration();
        req < 0 ? req = 0 : req = req;
        req > 1 ? req = 1 : req = req;
        spectrum.seekTo(req);
      }
    });

    document.getElementById("top-div-for-scrolling-enabling").addEventListener("wheel", function (event) {
      if (!confirmChangesboxBool) {
        pauseAudio();
        var req = (spectrum.getCurrentTime() + (event.deltaY / 96)) / spectrum.getDuration();
        req < 0 ? req = 0 : req = req;
        req > 1 ? req = 1 : req = req;
        spectrum.seekTo(req);
      }
    });
    //Scroll Function Ends


    window.addEventListener("scroll", function (event) {
      event.preventDefault();
    })

    //function on spectrum ready
    spectrum.on("ready", function () {
      
      //Load Wave to previous time stamp from cookie
      if (getCookie("current_time") > 0) {
        spectrum.seekTo(parseFloat(getCookie("current_time")));      
      };

      //Hiding Annotation Div
      $("#annotation-box").hide();      

      //getting actual data from actual table in database   
      getPreviousCreatedSegments();

      const params = new URLSearchParams(window.location.search);
      if (!(params.has('linguist_reviewer_test') && params.get('linguist_reviewer_test') == "true")) {
        //disable unnecessary elemeats for transcription  
        disableForTranscription()
      }

      //Creating a new region on plus button click
      $("#plus-button").off('click');  
    });//spectrum on ready function end

    function getPreviousCreatedSegments() {
      //ajax to create previously created segments by user on spectrum load
      $.ajax({
        method: "POST",
        url: "/transcription-actual-segments",
        data: {
          user_id,
          audio_id: audio_id
        },
        async: true,
        success: function (response) {
          for (var i = 0; i < response.length; i++) {
            var segmentId = response[i]["segment_id"];
            var speakerName = response[i]["div_className"];
            var annotationType = response[i]["div_title"];
            var segmentStart = response[i]["segment_start"];
            var segmentEnd = response[i]["segment_end"];
            var annotationText = response[i]["annotation_text"];

            //creating Segments 
            spectrum.addRegion({
              id: segmentId,
              start: segmentStart,
              end: segmentEnd,
              drag: false,
              color: "rgba(0,0,0,0)"
            })
            if (!reqSpeakers.includes(speakerName) && speakerName.includes("speaker")) {
              $("#select-options").append(`<option value="${speakerName}"/>`);
              reqSpeakers.push(speakerName);
            }
            
            createDiv(segmentId, speakerName, annotationType, segmentStart, segmentEnd, annotationText);
          }

          //ajax to check if the user has already submitted
          $.ajax({
            method: "POST",
            url: "/get-submitted-or-not-for-transcription",
            data: {
              user_id: user_id,
              audio_id: audio_id
            },
            async: true,
            success: function (response) {
              let userAudioId;
              if (response.length > 0) {
                userAudioId = response[0]["users_audio_id"];
                is_submitted = response[0]["is_submitted"];
                check_user_status = response[0]["status"];
                //Checking if already submitted
                if (is_submitted == "TRUE") {
                  disableAllInterfaceOnSubmit();
                  $("#submit-button").hide();
                  $("#profile-link-button").show();

                  $("#already-submitted-dialouge-box").show();
                  $("body").not("#already-submitted-dialouge-box").css({
                    backgroundColor: "#c2c1c0",
                    opacity: "0.8"
                  })
                  //Boolean to stop user from using LT
                  confirmChangesboxBool = true;
                }

                if (check_user_status == "RETRY" || check_user_status == "FAIL") {
                  $("#feedback-btn").css({ display: "block" });
                  $.ajax({
                    method: "GET",
                    url: `/get-feedbacks/transcription/${userAudioId}`,
                    async: true,
                    success: function (result) {                     
                      let listDiv = document.createElement('ul');
                      if (result && result.length > 0) {
                        for(var i=0;i<result.length;i++){
                          var listDivItem=document.createElement('li');
                          listDivItem.appendChild(document.createTextNode(result[i]["feedback"]))
                          listDiv.appendChild(listDivItem);
                        }
                        $("#feedbacks-list").append(listDiv);
                      } else {
                        $("#feedbacks-list").append(
                          `
                          <div>
                            No Feedbacks 
                          </div>
                          `
                        );
                      }

                    }
                  })

                }
              }
            }
          })
        }
      })
    }

    //Remove Region             
    $("#annotation-remove").on("click", function () {
      updateSegments == true;
      var regionId = currentId;
      //ajax request to remove segments
      var params = {
        regionId,
        user_id,
        audio_id: audio_id
      }
      if (regionId != null) {
        $.ajax({
          method: "POST",
          url: "/remove-segments",
          data: params,
          success: function () {
            //Hiding Annotation Div      
            $("#annotation-box").hide();
            updateAnnotationOnChange = false;
            updateAnnotationOnClick = false;
            //Changed RegionId to CurrentId
            if (spectrum.regions.list[regionId] != null) {
              spectrum.regions.list[regionId].remove();
            }
            $("#" + regionId).empty();
            $("#" + regionId).remove();
          }
        });
      }
      addRegionBool = true;
    });//Remove Region Function End

    //Remove top speaker divs
    $("#top-div-control-remove-button").on("click", function () {
      removeTopDivSpeakers(getTopClickedId);
    });


    //function to save all top div speakers
    $("#top-div-control-save-button").on("click", function () {
      saveTopDivSpeakers(getTopClickedId);
    });

    function saveTopDivSpeakers(topSpeakerClickedId) {
      //Getting the clicked Top Div Class
      var getClickedIdClass = document.getElementById(topSpeakerClickedId).className;
      var speakerNameFound = false;
      var userInputTopSpeakerName = $("#top-div-control-speaker-name").val();
      if (spellCheckSpeakerName(userInputTopSpeakerName)) {
        document.getElementById(topSpeakerClickedId).className = userInputTopSpeakerName.replace(/ /g, "-");
        document.getElementById(topSpeakerClickedId).querySelector("p").innerText = userInputTopSpeakerName;
        $("#peaks-container").children().each(function (index, value) {
          if (this.className == getClickedIdClass) {
            speakerNameFound = true;
            this.className = userInputTopSpeakerName.replace(/ /g, "-");
          }
        });
        if (speakerNameFound) {
          params = {
            userInputTopSpeakerName: userInputTopSpeakerName,
            previousTopSpeakerName: getClickedIdClass.replace(/-/g, " "),
            user_id,
            audio_id: audio_id
          }

          $.ajax({
            method: "POST",
            url: "/top-speaker-control-save-button",
            data: params,
            success: function (response) {
              updateTopDivSpeaker = false;
              updateTopDivSpeakerOnClick = false;
            }
          })
        };
      } else {
        emptySpeaker();
      }
    }
    //save top div speakers function end 

    //First Navigator Turn Button
    $("#top-speaker-first-navigator-button").on("click", function () {
      navigateTurnsFirstButton(getTopClickedId);
    });

    //second navigator function start
    $("#top-speaker-last-navigator-button").on("click", function () {
      navigateTurnsLastButton(getTopClickedId);
    });

    //displaying contents on audio processing
    spectrum.on("audioprocess", () => {
      if (spectrum.regions.getCurrentRegion() != null && !updateAnnotationOnChange && !updateTopDivSpeaker) {
        let spectrumRegionId=spectrum.regions.getCurrentRegion().id;   
        if(currentId!=spectrum.regions.getCurrentRegion().id){           
          displayCurrentContents();
          highlightRegion();
        }             
      }
    })

    //Seeking Specturm
    spectrum.on("seek", function () {
      //Displaying Current Segments Contents in our Annotation Box      
      //Var to check whether the user has filled segments
      var checkTextsForSubmit = true;
      if (!updateTopDivSpeaker) {
        displayCurrentContents();
      }
      //Displaying submit button only if audio is played to last and 10 segements are created    
      if (is_submitted == "FALSE" && $("#peaks-container").children("div").length > 1) {
        for (var i = 1; i < $("#peaks-container").children("div").length; i++) {
          if ($("#peaks-container").children("div")[i].title == "default" || $("#peaks-container").children("div")[i].title == "Singing") {
            if ($("#peaks-container").children("div")[i].innerText === "") {              
              checkTextsForSubmit = false;
            }
          }

        }
        if ((spectrum.getCurrentTime() > (spectrum.getDuration() / 2)) && checkTextsForSubmit) {
          if (is_submitted == "FALSE") {
            $("#submit-button").show();
          }

        } else {
          if (is_submitted != "FALSE") {
            $("#submit-button").hide();
          }
        }

      }
    });


    //function to create a div
    var zindexLoop = 1000;
    var leftSpeakerCategoryDivMargin = 120;


    //function to check changes on top div speaker control
    function updateTopSpeakerControl() {
      updateTopDivSpeaker = true;
    }

    //function for annotation contents change on click
    function changeAnnotationOnClick(evt) {
      //Displaying Annotation Div
      if (!updateTopDivSpeaker) {
        $("#top-div-speaker-control").hide();
        $("#annotation-box").show();
      }

      if (!updateAnnotationOnChange && !updateTopDivSpeaker) {
        var clickedId = evt.target.id;
        currentId = evt.target.id;
        //highlight clicked region
        highlightRegion();
        //Changed currentId to clicked Id to check if it works, works until now 
        currentStartTime = spectrum.regions.list[clickedId].start;
        currentEndTime = spectrum.regions.list[clickedId].end;

        //segment start variables
        var startMinute = secondsToMinutes(spectrum.regions.list[clickedId].start);
        var startSeconds = secondsToSeconds(spectrum.regions.list[clickedId].start);
        var startMilliseconds = secondsToMilliseconds(spectrum.regions.list[clickedId].start);

        //segment end variables
        var endMinute = secondsToMinutes(spectrum.regions.list[clickedId].end);
        var endSeconds = secondsToSeconds(spectrum.regions.list[clickedId].end);
        var endMilliseconds = secondsToMilliseconds(spectrum.regions.list[clickedId].end);

        //displaying texts   
        $("#annotation-start-minute").val(startMinute);
        $("#annotation-start-seconds").val(startSeconds);
        $("#annotation-start-milliseconds").val(startMilliseconds);
        $("#annotation-end-minute").val(endMinute);
        $("#annotation-end-seconds").val(endSeconds);
        $("#annotation-end-milliseconds").val(endMilliseconds);

        if ($("#peaks-container").children().is("#" + clickedId) > 0) {
          var segmentType = document.getElementById(clickedId).title;
          var segmentSpeaker = document.getElementById(clickedId).className.replace(/-/g, " ");
          var segmentText = document.getElementById(clickedId).innerText;
          var divColor = document.getElementById(clickedId).style.background;

          //changing color of Annotation Heading
          $(".annotation-editHeading").css("backgroundColor", divColor);
          if (segmentType !== "default" && segmentType !== "Singing") {
            document.getElementById("transcription-area").style.display = "none";
            document.getElementById("speaker-name").style.display = "none";
            
            document.getElementById("annotation-type").value = segmentType;
            document.getElementById("speaker-name").value = "";
            document.getElementById("transcription-area").value = "";
          } else {
            document.getElementById("transcription-area").style.display = "block";
            document.getElementById("speaker-name").style.display = "block";
            
            document.getElementById("annotation-type").value = segmentType;
            document.getElementById("speaker-name").value = segmentSpeaker;
            document.getElementById("transcription-area").value = segmentText;            
          }
        }
      }
    };

    //function to save data to database on saveClick
    function saveClick() {

      if (updateSegments == false) {
        segmentStart = spectrum.regions.list[currentId].start;
        segmentEnd = spectrum.regions.list[currentId].end;
        var annotationText = "";
        var speakerName = "";
        var annotationType = "";
        var val = document.getElementById("annotation-type");
        if (val.value !== "default" && val.value !== "Singing") {
          annotationType = document.getElementById("annotation-type").value;

          speakerName = document.getElementById("annotation-type").value;

          annotationText = val.value;
        } else {
          annotationType = document.getElementById("annotation-type").value;
          speakerName = document.getElementById("speaker-name").value;
          if (val.value == "Singing" && $("#transcription-area").val().trim() !== "") {
            annotationText = $("#transcription-area").val();
          } else if (val.value == "default") {
            annotationText = $("#transcription-area").val();
          } else if (val.value == "Singing" && $("#transcription-area").val().trim() == "") {
            annotationText = "Singing";
          }
        }

        //ajax Request to Create    
        var params = {
          speakerName,
          annotationType,
          segmentStart,
          segmentEnd,
          annotationText,
          user_id,
          audio_id: audio_id
        }
        if (speakerName.length > 0 && hundredMillisecSegmentCheck && !segmentEndingTimeMoreThanStartingTime && spellCheckSpeakerName(speakerName) && (!checkOverlappingDiv(speakerName, segmentStart, segmentEnd))) {
          if (spellCheckSpeakerName(speakerName)) {
            //Var to store id from database
            var segmentIdFromDatabase = 0;

            $.ajax({
              method: "POST",
              url: "/database",
              data: params,
              async: false,
              success: function (response) {
                segmentIdFromDatabase = response.insertId;
                $(`region[data-id=${currentId}]`).attr("data-id", segmentIdFromDatabase);
                spectrum.regions.list[currentId].id = segmentIdFromDatabase;
                spectrum.regions.list[segmentIdFromDatabase] = spectrum.regions.list[currentId];
                delete spectrum.regions.list[currentId];
                if (!updateAnnotationOnChange) {//Only if new segment is created
                  window.currentId = segmentIdFromDatabase;
                  window.segment_id = segmentIdFromDatabase;
                }
              }
            })
            //Create Div 
            createDiv(segmentIdFromDatabase, speakerName, annotationType, segmentStart, segmentEnd, annotationText);

            updateAnnotationOnChange = false;
            updateAnnotationOnClick = false;
            var append = false;
            if (!reqSpeakers.includes(speakerName) && speakerName.includes("speaker")) {
              //adding to select options
              append = true;
            }
            if (append) {
              $("#select-options").append(`<option value="${speakerName}"/>`);
              reqSpeakers.push(speakerName);
            }

            //Hiding Annotation Div      
            $("#annotation-box").hide();

            //setting update segments bool to true to allow updating
            updateSegments = true;
          } else {
            emptySpeaker();
          }
        } else {
          if (speakerName.length == 0 || !spellCheckSpeakerName(speakerName)) {
            emptySpeaker();
          } else if (!hundredMillisecSegmentCheck) {
            hundredMillisecondsSegmentGap();
          } else if (segmentEndingTimeMoreThanStartingTime) {
            endTimeMoreThanStartTime();
          } else if ((checkOverlappingDiv(speakerName, segmentStart, segmentEnd))) {
            sameSpeakerOverlappingDialougeBox();
          }
        }
      } else if (updateAnnotationOnChange == true) {
        var params;
        //Updating Database        
        var segmentId = currentId;
        var annotationText = "";
        var speakerName = "";
        var annotationType = "";
        var segmentclass = document.getElementById("speaker-name").value;
        var val = document.getElementById("annotation-type");
        if (val.value !== "default" && val.value !== "Singing") {
          document.getElementById(segmentId).style.top = "0px";
          annotationType = document.getElementById("annotation-type").value;
          document.getElementById(segmentId).title = annotationType;
          speakerName = document.getElementById("annotation-type").value;
          document.getElementById(segmentId).className = speakerName;
          annotationText = val.value;
          document.getElementById(segmentId).querySelector("p").innerText = annotationText;
        } else if (segmentclass.length >= 1 /*&& segmentclass.split(" ").length <= 2*/ && spellCheckSpeakerName(segmentclass)) {
          //checking if speaker is already Available          
          if ($("#annotation-div").children().hasClass(segmentclass.replace(/ /g, "-"))) {
            $("#annotation-div").children().each(function (index, value) {
              if (value.className == (segmentclass.replace(/ /g, "-"))) {
                speakerName = document.getElementById("speaker-name").value;
                if (!checkOverlappingDiv(speakerName, newStartTime, newEndTime)) {
                  annotationType = document.getElementById("annotation-type").value;
                  document.getElementById(segmentId).title = annotationType;

                  document.getElementById(segmentId).className = speakerName.replace(/ /g, "-");
                  if (val.value == "Singing" && $("#transcription-area").val().trim() !== "") {
                    annotationText = $("#transcription-area").val();
                  } else if (val.value == "default") {
                    annotationText = $("#transcription-area").val();
                  } else if (val.value == "Singing" && $("#transcription-area").val().trim() == "") {
                    annotationText = "Singing";
                  }
                  document.getElementById(segmentId).querySelector("p").innerText = annotationText;
                  document.getElementById(segmentId).style.background = value.style.backgroundColor;
                  document.getElementById(segmentId).style.bottom = ((canvasHeight - 8) + leftSpeakerCategoryDivMargin * (index)) + "px";
                  document.getElementById(segmentId).style.top = "inherit";
                }
              }
            });
          } else {
            //Changing segmentId to currentId
            var newColor = getRandomColor();
            annotationType = document.getElementById("annotation-type").value;
            document.getElementById(currentId).title = annotationType;
            speakerName = document.getElementById("speaker-name").value;
            document.getElementById(currentId).className = speakerName.replace(/ /g, "-");
            if (val.value == "Singing" && $("#transcription-area").val().trim() !== "") {
              annotationText = $("#transcription-area").val();
            } else if (val.value == "default") {
              annotationText = $("#transcription-area").val();
            } else if (val.value == "Singing" && $("#transcription-area").val().trim() == "") {
              annotationText = "Singing";
            }
            document.getElementById(currentId).querySelector("p").innerText = annotationText;
            document.getElementById(currentId).style.background = newColor;
            document.getElementById(currentId).style.bottom = ((canvasHeight - 8) + leftSpeakerCategoryDivMargin * (($("#annotation-div").children("div").length))) + "px";
            topSpeakerDiv(speakerName, newColor);
          }
        } else if (segmentclass.length == 0 || segmentclass.split(" ").length > 2 || spellCheckSpeakerName(segmentclass)) {
          emptySpeaker();
        }

        //Checking correct speaker name
        spellCheckSpeakerName(speakerName);

        //ajax Request To Update
        if (updateAnnotationOnChange) {
          params = {
            segmentId,
            speakerName,
            annotationType,
            segmentStart: newStartTime,
            segmentEnd: newEndTime,
            annotationText,
            user_id,
            audio_id: audio_id
          }
        } else {
          params = {
            segmentId,
            speakerName,
            annotationType,
            segmentStart,
            segmentEnd,
            annotationText,
            user_id,
            audio_id: audio_id
          }
        }
        if (speakerName.length > 0 && hundredMillisecSegmentCheck && !segmentEndingTimeMoreThanStartingTime && spellCheckSpeakerName(speakerName) && !checkOverlappingDiv(speakerName, newStartTime, newEndTime)) {
          $.ajax({
            method: "POST",
            url: "/update-transcription-table",
            data: params,
            success: function () {
            }
          })
          //Hiding Annotation Div      
          $("#annotation-box").hide();
          updateAnnotationOnChange = false;
          updateAnnotationOnClick = false;

        } else {
          if (speakerName.length < 0 || !spellCheckSpeakerName(speakerName)) {
            emptySpeaker();
          } else if (!hundredMillisecSegmentCheck) {
            hundredMillisecondsSegmentGap();
          } else if (segmentEndingTimeMoreThanStartingTime) {
            endTimeMoreThanStartTime();
          } else if (checkOverlappingDiv(speakerName, newStartTime, newEndTime)) {
            sameSpeakerOverlappingDialougeBox();
          }
        }
      }
    }

    //function to renew annotation
    function renew() {
      $("#annotation-type").val("default");
      $("#speaker-name").val("");
      $("#transcription-area").val("");
      document.getElementById("transcription-area").style.display = "block";
      document.getElementById("speaker-name").style.display = "block";
    }//renew function end


    //function for split
    function splitRegion(textBeforeCursor = "", textAfterCursor = "") {
      var spectrumCurrentTime = spectrum.getCurrentTime();
      var regionStartTime = spectrum.regions.list[currentId].start;
      var regionEndTime = spectrum.regions.list[currentId].end;
      var prevDivTitle = document.getElementById(currentId).title;
      var prevDivClassName = document.getElementById(currentId).className.replace(/-/g, " ");
      var segmentText = document.getElementById(currentId).innerText;
      var preDivColor = document.getElementById(currentId).style.background;

      //updating Previous Region on split
      if (spectrum.regions.list[currentId] != null) {
        spectrum.regions.list[currentId].update({
          start: regionStartTime,
          end: spectrumCurrentTime - 0.01
        });
      }

      //updating previous div on Split     
      var progress2 = ((spectrumCurrentTime - 0.10) - regionStartTime) / spectrum.getDuration();
      var minPxDelta = 1 / spectrum.params.pixelRatio;
      var pos1 = Math.round((progress2) * spectrum.drawer.getWidth()) * minPxDelta;
      if ($("#peaks-container").children().is("#" + currentId)) {
        document.getElementById(currentId).style.width = pos1 + "px";
      }

      //creating new Segment on Split 
      spectrum.addRegion({
        id: segmentId++,
        start: spectrumCurrentTime + 0.010,
        end: regionEndTime,
        drag: false,
        color: "rgba(0,0,0,0)"
      })

      //previous Div text 
      document.getElementById(currentId).querySelector("p").innerText = textBeforeCursor;

      createDiv(segmentId - 1, prevDivClassName, prevDivTitle, spectrumCurrentTime, regionEndTime, textAfterCursor);

      //ajax Request to Update Previous Division 
      var updateParams = {
        segmentId: currentId,
        speakerName: prevDivClassName,
        annotationType: prevDivTitle,
        segmentStart: regionStartTime,
        segmentEnd: spectrumCurrentTime - 0.010,
        annotationText: textBeforeCursor,
        user_id,
        audio_id: audio_id
      }

      $.ajax({
        method: "POST",
        url: "/update-on-split",
        data: updateParams,
        success: function () {
        }
      })

      //ajax Request to Create new row for splitted Div 
      var params = {
        speakerName: prevDivClassName,
        annotationType: prevDivTitle,
        segmentStart: spectrumCurrentTime + 0.010,
        segmentEnd: regionEndTime,
        annotationText: textAfterCursor,
        user_id,
        audio_id: audio_id
      }

      $.ajax({
        method: "POST",
        url: "/database",
        data: params,
        success: function () {
        }
      })
    }//split Region Function end

    $("#annotation-split").on("click", function () {
      //Split test
      var firstLength = ($("#transcription-area").prop("selectionStart"));//Cursor Position in transcription-area
      var reqText = $("#transcription-area").val();
      var textBeforeCursor = reqText.substring(0, firstLength);
      var textAfterCursor = reqText.substring(firstLength, reqText.length);
      if (spectrum.regions.getCurrentRegion()) {
        splitRegion(textBeforeCursor, textAfterCursor);
        updateAnnotationOnChange = false;
        updateAnnotationOnClick = false;
      }
    })

    //function to check and create segments
    function createSegments(currentId, starting, ending) {
      if (spectrum.regions.list[currentId] != null) {
        if ((parseFloat(ending) - parseFloat(starting)) < 0.100 && (parseFloat(ending) - parseFloat(starting)) >= 0) {
          spectrum.regions.list[currentId].update({
            start: starting,
            end: parseFloat(ending) + 0.01
          });
          hundredMillisecSegmentCheck = false;
          segmentEndingTimeMoreThanStartingTime = false;
        } else if ((parseFloat(ending) - parseFloat(starting)) < 0) {
          spectrum.regions.list[currentId].update({
            end: starting,
            start: ending
          });
          hundredMillisecSegmentCheck = true;
          segmentEndingTimeMoreThanStartingTime = true;
        } else {
          spectrum.regions.list[currentId].update({
            start: parseInt($("#annotation-start-minute").val() * 60) + parseInt($("#annotation-start-seconds").val()) + "." + $("#annotation-start-milliseconds").val(),
            end: parseInt($("#annotation-end-minute").val() * 60) + parseInt($("#annotation-end-seconds").val()) + "." + $("#annotation-end-milliseconds").val()
          });
          hundredMillisecSegmentCheck = true;
          segmentEndingTimeMoreThanStartingTime = false;
        }
      }

      //highlight clicked region
      highlightRegion();

      newStartTime = spectrum.regions.list[currentId].start;
      newEndTime = spectrum.regions.list[currentId].end;
      var progress1 = newStartTime / spectrum.getDuration();
      var progress2 = (newEndTime - newStartTime) / spectrum.getDuration();
      var minPxDelta = 1 / spectrum.params.pixelRatio;
      var pos = Math.round((progress1) * spectrum.drawer.getWidth()) * minPxDelta;
      var pos1 = Math.round((progress2) * spectrum.drawer.getWidth()) * minPxDelta;
      if ($("#peaks-container").children().is("#" + currentId)) {
        document.getElementById(currentId).style.left = pos + "px";
        document.getElementById(currentId).style.width = pos1 + "px";
      }
    }

    //Function to Check correct speakername
    function spellCheckSpeakerName(speakerName) {
      var splitSpeakerName = speakerName.split(" ");
      if (splitSpeakerName[0] != "speaker") {
        if (splitSpeakerName[0] == "DTMF" || splitSpeakerName[0] == "Applause" || splitSpeakerName[0] == "Laughter" || splitSpeakerName[0] == "Music" || splitSpeakerName[0] == "Noise" || splitSpeakerName[0] == "Ringtone" || (splitSpeakerName[0] == "unidentifiable" && splitSpeakerName[1] == "speaker")) {
          return true;
        } else if (splitSpeakerName[0] == "pre" && splitSpeakerName[1] == "recorded" && splitSpeakerName[2] == "speaker") {
          //Insert More Code Below if pre recorded speaker name is needed too!
          if (splitSpeakerName.length != 4) {
            return false;
          }
          if (isNaN(splitSpeakerName[3])) {
            return false;
          }
          return true;
        }
        return false;
      }
      if (isNaN(splitSpeakerName[1])) {
        if (splitSpeakerName.length == 2 || splitSpeakerName.length == 3) {
          if (splitSpeakerName.length == 3) {
            if (!isCamelCase(splitSpeakerName[2])) {
              return false;
            }
          }
          if (!isCamelCase(splitSpeakerName[1])) {
            return false;
          }
        }
        else {
          return false;
        }
      } else {
        if (splitSpeakerName.length != 2) {
          return false;
        }
        if (isNaN(splitSpeakerName[1])) {
          return false;
        }
      }
      return true;
    };//Spell Check Speaker Name function end

    function isCamelCase(str) {
      var regexp = /^[A-Z][a-z]*$/;
      return regexp.test(str)
    }

    //function to check same overlapping div
    function checkOverlappingDiv(speakerName, segmentStart, segmentEnd) {      
      var overlapping = false;
      var sameSpeakerParams = {
        user_id,
        speakerName
      }

      var totalRegions = Object.keys(spectrum.regions.list);
      Object.keys(spectrum.regions.list).forEach(function (region) {
        var previousSpeakerStart = spectrum.regions.list[region].start;
        var previousSpeakerEnd = spectrum.regions.list[region].end;

        if ((segmentStart > previousSpeakerStart && segmentStart < previousSpeakerEnd) ||
          (segmentEnd > previousSpeakerStart && segmentEnd < previousSpeakerEnd) || (previousSpeakerStart > segmentStart && previousSpeakerStart < segmentEnd)) {
          var previousSpeakerName = document.getElementById(region).className;
          if (speakerName != "DTMF" && speakerName != "Applause" && speakerName != "Laughter" && speakerName != "Music" && speakerName != "Noise" && speakerName != "Ringtone") {
            if (previousSpeakerName == speakerName.replace(/ /g, "-")) {
              overlapping = true;
            }
          }
        }
      });
      return overlapping;
    }//Check OverLapping Div function End

    //function for promises and ajax request on submit
    function ajaxReq() {
      if (Object.keys(spectrum.regions.list).length == 0) {
        overallScore = 100;
      } else {
        var promise = new Promise((resolve, reject) => {
          $.ajax({
            method: "POST",
            data: { audio_id: audio_id },
            url: "/get-reviews",
            async: false,
            success: function (actualResponse) {
              $.ajax({
                method: "POST",
                url: "/get-segments",
                data: {
                  user_id: user_id,
                  audio_id: audio_id
                },

                async: false,
                success: function (postResponse) {
                  actualResponseLength = actualResponse.length;

                  for (var i = 0; i < actualResponseLength; i++) {
                    var minStartValue = 0;
                    var minEndValue = 0;
                    var minDifference = 5;
                    var nearestStartSegment = 20;
                    var nearestStartSegment = 20;
                    var {
                      segment_id: actualsegmentId,
                      div_className: actualspeakerName,
                      div_title: actualannotationType,
                      segment_start: actualsegmentStart,
                      segment_end: actualsegmentEnd,
                      annotation_text: actualannotationText
                    } = actualResponse[i];
                    var color = "";
                    for (var j = 0; j < postResponse.length; j++) {
                      var {
                        segment_id: postssegmentId,
                        div_className: postsspeakerName,
                        div_title: postsannotationType,
                        segment_start: postssegmentStart,
                        segment_end: postssegmentEnd,
                        annotation_text: postsannotationText
                      } = postResponse[j];
                      if (
                        Math.abs(actualsegmentStart - postssegmentStart) <
                        minDifference
                      ) {
                        minDifference = Math.abs(
                          actualsegmentStart - postssegmentStart
                        );
                        nearestStartSegment = Math.abs(
                          actualsegmentStart - postssegmentStart
                        );
                        nearestEndSegment = Math.abs(
                          actualsegmentStart - postssegmentStart
                        );
                        minStartValue = postssegmentStart;
                        minEndValue = postssegmentEnd;
                      }
                      if (
                        parseFloat(actualsegmentStart) -
                        parseFloat(postssegmentStart) <=
                        0.003 &&
                        parseFloat(actualsegmentStart) -
                        parseFloat(postssegmentStart) >=
                        0 &&
                        parseFloat(actualsegmentEnd) -
                        parseFloat(postssegmentEnd) <=
                        0.003 &&
                        parseFloat(actualsegmentEnd) -
                        parseFloat(postssegmentEnd) >=
                        0 &&
                        actualspeakerName == postsspeakerName &&
                        actualannotationType == "default"
                      ) {
                        //Correct Segment Created
                        correctSegmentCreated = true;
                        break;
                      } else if (
                        parseFloat(actualsegmentStart) -
                        parseFloat(postssegmentStart) <=
                        0.005 &&
                        parseFloat(actualsegmentStart) -
                        parseFloat(postssegmentStart) >=
                        0 &&
                        parseFloat(actualsegmentEnd) -
                        parseFloat(postssegmentEnd) <=
                        0.005 &&
                        parseFloat(actualsegmentEnd) - parseFloat(minEndValue) >=
                        0 &&
                        actualspeakerName == postsspeakerName &&
                        actualannotationType != "default"
                      ) {
                        //Correct Segment Created                        
                        correctSegmentCreated = true;
                        break;
                      } else {
                        if (
                          parseFloat(actualsegmentStart) -
                          parseFloat(postssegmentStart) <=
                          0.005 &&
                          parseFloat(actualsegmentStart) -
                          parseFloat(postssegmentStart) >=
                          0 &&
                          parseFloat(actualsegmentEnd) -
                          parseFloat(postssegmentEnd) <=
                          0.005 &&
                          parseFloat(actualsegmentEnd) -
                          parseFloat(postssegmentEnd) >=
                          0 &&
                          actualspeakerName != postsspeakerName &&
                          actualannotationType != "default"
                        ) {
                          overallScore += 1;
                          wrongAnnotationScore += 1;
                        }
                        if (
                          parseFloat(actualsegmentStart) -
                          parseFloat(postssegmentStart) <=
                          0.005 &&
                          parseFloat(actualsegmentStart) -
                          parseFloat(postssegmentStart) >=
                          0 &&
                          parseFloat(actualsegmentEnd) -
                          parseFloat(postssegmentEnd) <=
                          0.005 &&
                          parseFloat(actualsegmentEnd) -
                          parseFloat(postssegmentEnd) >=
                          0 &&
                          actualspeakerName != postsspeakerName &&
                          actualannotationType == "default"
                        ) {
                          overallScore += 1;
                          wrongSpeakerScore += 1;                          
                        }
                        //Incorrect Segement created
                        correctSegmentCreated = false;
                      }
                    }
                    //creating Segments
                    spectrum.addRegion({
                      id: actualsegmentId + 100000,
                      start: actualsegmentStart,
                      end: actualsegmentEnd,
                      drag: false,
                      color: "rgba(0,0,0,0)"
                    });
                    createDiv(
                      actualsegmentId + 100000,
                      actualspeakerName,
                      actualannotationType,
                      actualsegmentStart,
                      actualsegmentEnd,
                      "",
                      true
                    );
                  }
                  unnecessarySegmentsErrors +=
                    Math.abs(actualResponseLength - postsResponseLength) * 2;
                  overallScore = overallScore + unnecessarySegmentsErrors;
                  //Checking Pass or Fail
                  if (100 - overallScore > 60) {
                    passOrFail = "PASS";
                  } else {
                    passOrFail = "FAIL";
                  }
                  //Disallowing Clicking and Changing Values if the Submit request was successful                  
                  disableAllInterfaceOnSubmit();
                  resolve();
                }
              });
            }
          });
        });
      }
    }//ajaxReq function end

    //Function to call on submit click
    $("#submit-button").on("click", function () {
      disableAllInterfaceOnSubmit();
      diffCheck();
      saveScores();
      $("#profile-link-button").show();
      getWebAppId();
      logEvent("Audio Test Submitted - Trans", {
        type: "Single Audio"
      })
    });//Submit Button Click Function End

    function getWebAppId() {
      $.ajax({
        method: "POST",
        url: "/get-web-app-id",
        data: {
          user_id: user_id
        },
        success: function (data) {
          var webapp_id = data[0].web_app_id;
          $.ajax({
            method: "POST",
            url: "/get-language-id",
            data: {
              audio_id
            },
            success: function (data1) {
              var language_id = data1[0].Language_id;
              var mailParams = {
                "user_id": `${webapp_id}`,
                "status": "3",
                "project_type_id": "2",
                "language_id": `${language_id}`
              }
              $.ajax({
                method: "POST",
                url: "{{ webapp_basepath }}/api/set-user-language-project-type-status",
                data: mailParams,
                success: function () {
                  console.log("Web app status set");
                }
              });
            }
          })
        }
      });
    }

    //function for diffCheck 
    function diffCheck() {
      var replaced_actual_text, replaced_annotation_text = "";
      params = {
        user_id,
        audio_id: audio_id
      }
      $.ajax({
        method: "POST",
        url: "/route-for-diff-check",
        data: params,
        async: false,
        success: function (response) {
          diffCheckSubmit = true;

          for (var i = 0; i < response.length; i++) {
            if (response[i]["difference"] != null) {
              var transcription_id = response[i]["segment_id"];
              var differences = response[i]["difference"];
              var regexToReplace = /[\s_.,!"'&?/$]*/g;
              var actual_text = "", annotation_text = "";
              differences.forEach(difference => {
                if (difference.removed) {
                  replaced_annotation_text = difference.value.replace(regexToReplace, " . ").split(" ");
                  annotation_text += `<span style="background-color:#FF8983">` + difference.value + `</span>`;
                  totalWordCount += replaced_annotation_text.length;
                } else if (difference.added) {
                  actual_text += `<span style="background-color:#6BDFB8">` + difference.value + `</span>`
                  replaced_actual_text = difference.value.replace(regexToReplace, " .").split(" ");

                } else {
                  actual_text += difference.value + "";
                  annotation_text += difference.value + "";
                  replaced_annotation_text = difference.value.replace(regexToReplace, " .").split(" ");
                  replaced_actual_text = difference.value.replace(regexToReplace, " .").split(" ");
                  rightWordsScore += replaced_annotation_text.length;
                  totalWordCount += replaced_actual_text.length;
                }
              })
            }
          }
          scoreInPercentage = Math.round((rightWordsScore / totalWordCount) * 100);          
        }
      })
    };
    //Diff Check Function end

    //Function to store scores in database Users Table
    function saveScores() {      
      var todayDate = new Date();
      
      params = {
        user_id,
        audio_id: audio_id,
        total_score: scoreInPercentage,
        is_submitted: "TRUE"
      }
      $.ajax({
        method: "POST",
        url: "/save-test-score-on-users_audio_table-for-transcription",
        data: params,
        success: function () {
        }
      })
    };//Save Scores Function End

    //function to display current div content in annotation box
    function displayCurrentContents() {
      if (spectrum.regions.getCurrentRegion() != null && !updateAnnotationOnChange && !updateAnnotationOnClick && !updateTopDivSpeaker && !updateTopDivSpeakerOnClick) {
        $("#top-div-speaker-control").hide();
        $("#annotation-box").show();
        var segmentId = spectrum.regions.getCurrentRegion().id;
        if(segmentId!=currentId){
           currentId = spectrum.regions.getCurrentRegion().id;

        //highlight current region
        highlightRegion();

        //segment start variables
        var startMinute = secondsToMinutes(spectrum.regions.getCurrentRegion().start);
        var startSeconds = secondsToSeconds(spectrum.regions.getCurrentRegion().start);
        var startMilliseconds = secondsToMilliseconds(spectrum.regions.getCurrentRegion().start);
        currentStartTime = spectrum.regions.getCurrentRegion().start

        //segment end variables
        var endMinute = secondsToMinutes(spectrum.regions.getCurrentRegion().end);
        var endSeconds = secondsToSeconds(spectrum.regions.getCurrentRegion().end);
        var endMilliseconds = secondsToMilliseconds(spectrum.regions.getCurrentRegion().end);
        currentEndTime = spectrum.regions.getCurrentRegion().end;

        //displaying texts   
        $("#annotation-start-minute").val(startMinute);
        $("#annotation-start-seconds").val(startSeconds);
        $("#annotation-start-milliseconds").val(startMilliseconds);
        $("#annotation-end-minute").val(endMinute);
        $("#annotation-end-seconds").val(endSeconds);
        $("#annotation-end-milliseconds").val(endMilliseconds);

        //($("#peaks-container").children().is(`#${segmentId}`) > 0)
        if ($("#peaks-container").children().is(`#${segmentId}`) > 0) {
          var segmentType = document.getElementById(segmentId).title;
          var segmentSpeaker = document.getElementById(segmentId).className.replace(/-/g, " ");
          var segmentText = document.getElementById(segmentId).innerText;
          var divColor = document.getElementById(segmentId).style.background;

          //changing color of Annotation Heading
          $(".annotation-editHeading").css("backgroundColor", divColor);
          if (segmentType !== "default" && segmentType !== "Singing") {
            document.getElementById("transcription-area").style.display = "none";
            document.getElementById("transcripted_text_paragraph").style.display = "none";
            document.getElementById("speaker-name").style.display = "none";
            //$("#annotation-box").css("height", 250 + "px");
            document.getElementById("annotation-type").value = segmentType;
            document.getElementById("speaker-name").value = "";
            document.getElementById("transcription-area").value = "";
          } else {
            document.getElementById("transcription-area").style.display = "block";
            document.getElementById("speaker-name").style.display = "block";
            //$("#annotation-box").css("height", 32 + "rem");
            document.getElementById("annotation-type").value = segmentType;
            document.getElementById("speaker-name").value = segmentSpeaker;

            //Checking if submitted or not
            if (diffCheckSubmit) {
              if (document.getElementById(segmentId).querySelector("p").childNodes.length > 0) {
                //Storing values from segment
                var p1_child_text = document.getElementById(segmentId).querySelector("p").childNodes[0].innerHTML;
                var p2_child_text = document.getElementById(segmentId).querySelector("p").childNodes[1].innerHTML;
                document.getElementById("transcripted_text_paragraph").style.display = "flex";
                //Clearing the tag value
                document.getElementById("transcripted_text_paragraph").innerHTML = "";
                document.getElementById("transcription-area").style.display = "none";

                ////console.log(p1_child_text);
                //Creating child tags to display text
                document.getElementById("transcripted_text_paragraph").appendChild(document.createElement("p")).innerHTML = p1_child_text;
                document.getElementById("transcripted_text_paragraph").appendChild(document.createElement("p")).innerHTML = p2_child_text;
                var p1_child = document.getElementById(`transcripted_text_paragraph`).childNodes[0];
                var p2_child = document.getElementById(`transcripted_text_paragraph`).childNodes[1];
                p1_child.className = "transcription_area_first_child";
                p1_child.style.width = "40%";

                p1_child.style.margin = "10px";

                p2_child.style.width = "40%";

                p2_child.style.margin = "10px";

              } else {
                document.getElementById("transcripted_text_paragraph").style.display = "none";
                document.getElementById("transcription-area").style.display = "block";
                //Display Normal Text
                document.getElementById("transcription-area").value = segmentText;
              }
            } else {
              document.getElementById("transcription-area").value = segmentText;
            }
          }
        } 
      }        
    }
  }//DisplayCurrentContents function end   

</script>
</body>

</html>